<h2 class="heading center">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "restaurants/shared/error_messages", resource: resource %>
  
  <div class="form__field center">
    <%= f.label "店名" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "紹介文" %><br />
    <%= f.text_area :introduction, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "お店からのお知らせ" %><br />
    <%= f.text_area :announcement, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "価格帯" %><br />
    <%= f.text_field :price_range, autofocus: true, placeholder:"例： 1000〜5000" %>
  </div>
  
  <div class="form__field center">
    <%= f.label "営業時間　朝" %><br />
    <%= f.text_field :open_morning, autofocus: true, placeholder:"例： 06：00〜09：00" %>
  </div>
  
  <div class="form__field center">
    <%= f.label "営業時間　昼" %><br />
    <%= f.text_field :open_noon, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "営業時間　夜" %><br />
    <%= f.text_field :open_night, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "定休日" %><br />
    <%= f.text_field :regular_holiday, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "郵便番号" %><br />
    <%= f.text_field :postal_code, autofocus: true %>
  </div>
  
  <div class="form__field center">
    <%= f.label "住所" %><br />
    <%= f.text_field :address, autofocus: true, placeholder:"県から"%>
  </div>

  <div class="form__field center">
    <%= f.label "eメール", class:"form__field--title" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form__field center">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form__field center">
    <%= f.label "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="center">
    <%= f.submit "新規登録", class:"btn__green" %>
  </div>
<% end %>
<%#= render "restaurants/shared/links" %>
