<h1>食事処一覧</h1>

  <div class="search-form">
    <%= form_with url: search_restaurants_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder:"◯◯県△△市××町" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  
<div class="container">
  
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant border shadow">
      
      <div class="restaurant__item small-img">
    　  <div class="restaurant__item--small-img">
    　    <% restaurant.images.first(1).each do |image| %>
    　     <%= attachment_image_tag image, :img, :fill, 100, 100 %>
    　    <% end %>
    　  </div>
    　</div>
    　  
    　<div class="restaurant__item">
    　  <h4>店名</h4>
    　  <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
      </div>
      
      <div class="restaurant__item">
    　  <h4>営業時間</h4>
    　  <p>朝<%= restaurant.open_morning %></p><p>昼<%= restaurant.open_noon %></p><p>夜<%= restaurant.open_night %></p>
    　</div>
    　
    　<div class="restaurant__item">  
    　  <h4>価格帯</h4>
    　  <p><%= restaurant.price_range %>円</p>
    　</div>
    　
    　<div class="restaurant__item"> 
    　  <h4>定休日</h4>
    　  <p><%= restaurant.regular_holiday%></p>
    　</div>
    　
    　<div class="restaurant__item">  
    　  <h4>住所</h4>
    　  <p><%= restaurant.address %></p>
    　</div>
    
    </div>
  <% end %>
  <%= paginate @restaurants %>
</div>