<h1>食事処一覧</h1>

  <div class="search-form">
    <%= form_with url: search_restaurants_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder:"◯◯県△△市××町" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  
<div class="container">
  <% @restaurants.each do |restaurant| %>
    <div class="card border shadow">
      
      <div class="slider slider">
        <% restaurant.images.each do |image| %>
          <div>
          <%= attachment_image_tag image, :img, class:"slick-image1" %>
          </div>
        <% end %>
      </div>
      
      <%= link_to restaurant_path(restaurant.id) do %>
      <div class="card__contents">
    　 <strong>店名</strong>
    　 <%= restaurant.name %>
      </div>
      
      <div class="card__contents">
    　 <strong>価格帯</strong>
    　 <%= restaurant.price_range %>円
      </div>
      
      <div class="card__contents">
    　 <strong>定休日</strong>
    　 <%= restaurant.regular_holiday %>
      </div>
      
      <div class="card__contents">
    　 <strong>住所</strong></br>
    　 <%= restaurant.address %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
  <%= paginate @restaurants %>