<h2>店舗詳細</h2>

    <h3>店名</h3><p><%= @restaurant.name %></p>
　    
　  <h4>営業時間</h4><p>朝<%= @restaurant.open_morning %></p><p>昼<%= @restaurant.open_noon %></p><p>夜<%= @restaurant.open_night %></p>
　    
　  <h4>定休日</h4><p><%= @restaurant.regular_holiday %></p>
　  
　  <h4>紹介文</h4><p><%= @restaurant.introduction %></p>