<h2>店舗詳細</h2>
    <% @restaurant.images.each do |image| %>
    <div>
      <%= link_to restaurant_images_path(:restaurnat_id) do %>
        <%= attachment_image_tag image, :img, :fill, 100, 100 %>
      <% end %>
    </div>
    <% end %>

    <h3>店名</h3><p><%= @restaurant.name %></p>
　    
　  <h4>営業時間</h4><p>朝<%= @restaurant.open_morning %></p><p>昼<%= @restaurant.open_noon %></p><p>夜<%= @restaurant.open_night %></p>
　    
　  <h4>定休日</h4><p><%= @restaurant.regular_holiday %></p>
　  
　  <h4>紹介文</h4><p><%= @restaurant.introduction %></p>
　  
　  <h4>スタッフたち</h4>
　  <% @restaurant.staffs.each do |staff| %>
    　<%= staff.nick_name %>
    　<%= staff.introduction %>
  　<% end %>
  　
  　<h4>お店からのお知らせ</h4><p><%= @restaurant.announcement %></p>