<h1>店舗詳細</h1>
<div class="container">
  <div class="restaurant">
    <div class="r-left">
      <div class="slider">
        <% @images.each do |image| %>
          <%= attachment_image_tag image, :img, class:"slick-image" %>
        <% end %>
      </div>
    </div>
    
    <div class="r-right">
    <div class="restaurant__item">
      <table>
        <tr class="restaurant__item--name">
          <td><strong>店名</strong></td>
          <td></td>
          <td><%= @restaurant.name %></td>
        </tr>
        <tr>
          <td><strong>営業時間</strong></td>
          <td></td>
          <td><p>朝<%= @restaurant.open_morning %>、昼<%= @restaurant.open_noon %>、夜<%= @restaurant.open_night %></p></td>
        </tr>
        <tr>
          <td><strong>定休日</strong></td>
          <td></td>
          <td><p><%= @restaurant.regular_holiday %></p></td>
        </tr>
        <tr>
          <td><strong>住所</strong></td>
          <td></td>
          <td><p><%= @restaurant.address %></p></td>
        </tr>
        <tr>
          <td><strong>評価平均</strong></td>
          <td></td>
          <td id="star-average">
             <script>
              $('#star-average').raty({
                size     : 38,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: '<%= @restaurant.reviews.average(:rate).to_f.round(1) %>',
              });
             </script>  
          </td>
          <tr>
          <td><strong>価格帯</strong></td>
          <td></td>
          <td><p><%= @restaurant.price_range %>円</p></td>
        </tr>
        </tr>
      </table>
      <div class="restaurant__item">
        <strong>紹介</strong>
        <div>
         <%= @restaurant.introduction %>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="row">
  
  <% if user_signed_in? %>
  <div class="row center" id="favorite_buttons_<%= @restaurant.id %>" >
    <%= render "public/restaurants/favorite", restaurant: @restaurant %>
  </div>
  <div class="row center">
   <%= link_to "レビューする", new_restaurant_review_path(@restaurant), class:"btn btn__review" %>
  </div>
  <% else %>
  <div>
  </div>
  <% end %>
</div>
  
  <div class="tab-wrap">
    
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked">
    <label class="tab-label" for="tab01">レビュー</label>
    <div class="tab-content">
      <% @restaurant.reviews.first(5).each do |review| %>
      <div>
      <%= review.rate %>
    　  <span id="star-rate-<%= review.id %>"></span>
    　 <p class="text"><%= review.comment %></p>
    　 <span class="sentiment-score">感情分析スコア<%= review.score %></span>
    　  <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 38,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
          score: <%= review.rate %>,
        });
       </script>
      </div>
      <% end %>
    
      <%= link_to "レビュー一覧", restaurant_reviews_path(@restaurant.id)%>
    </div>
    
    <input id="tab02" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab02">スタッフたち</label>
    <div class="tab-content">
        <% @restaurant.staffs.first(5).each do |staff| %>
      　  <table>
                <tr>
                  <td>
                    <strong>
                      <%= staff.nick_name %>
                    </strong>
                  </td>
                  <td>
                    <%= staff.introduction %>
                  </td>
                </tr>
          </table>
        <% end %>
    </div>
    
    <input id="tab03" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab03">お店からのお知らせ</label>
    <div class="tab-content">
    <p><%= @restaurant.announcement %></p>
    </div>
    
    <input id="tab04" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab04">地図</label>
    <div class="tab-content">
      <div id="map"></div>
      <style>
      #map{
        height: 500px;
        width: 100%;
      }
      </style>
      
      <script type="text/javascript">
          function initMap() {
      
              var test ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
              });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);
      
              var contentString = '住所：<%= @restaurant.address %>';
              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });
      
              var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
              });
      
              marker.addListener('click', function() {
                  infowindow.open(map, marker);
              });
          }
      </script>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>
    </div>
</div>
