<h1>レビュー一覧</h1>

<% if user_signed_in?%>
　<% @reviews.each do |review| %>
    　
    　  <div>
    　    <%= review.rate %>
    　    <span id="star-rate-<%= review.id %>"></span>
    　 </div>
    　 
    　 <div>
    　    <%= review.comment %>
    　    <span class="sentiment-score">感情分析スコア<%= review.score %></span>
    　 </div>
    　 
    　 <% if review.user_id == current_user.id %>
    　    <%= link_to '評価を編集', edit_restaurant_review_path(@restaurant.id, review.id) %>
    　 <% end %>
    　 
  <% end %>
  
　  <script>
    $('#star-rate-<%= review.id %>').raty({
      size: 38,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
    </script>
    
<% else %>

      <strong>
    　<%= link_to "新規登録", new_user_registration_path %>
    　・
    　<%= link_to "ログイン", new_user_session_path %>
    　が必要です。
    　</strong>
    
  <% end %>
　 <%= paginate @reviews %>
　<div>
    <%= link_to "戻る", restaurant_path(@restaurant.id) %>
　</div>