<h1>レビュー一覧</h1>

  <% @reviews.each do |review| %>
  　
  　<div>
  　  <%= review.rate %>
  　  <span id="star-rate-<%= review.id %>"></span>
  　</div>
    <div>
  　  <%= review.comment %>
  　  <span class="sentiment-score">感情分析スコア<%= review.score %></span>
  　</div>
  　
　  <script>
    $('#star-rate-<%= review.id %>').raty({
      size: 38,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
    </script>
    
　<% end %>
　 <%= paginate @reviews %>
　 <div>
　 <%= link_to "戻る", owner_restaurant_path(@restaurant.id) %>
　 </div>