<h1>店舗画像一覧</h1>
<% @restaurant.images.each do |image| %>
<div>
  <%= link_to owner_image_path(image.id) do %>
    <%= attachment_image_tag image, :img, :fill, 100, 100 %>
  <% end %>
</div>
<% end %>
<%= form_with model: [:owner,@image], local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :img %>
  <%= f.submit '投稿' %>
<% end %>