
<div>
  <% @images.each do |image| %>
    <%= link_to owner_restaurant_image_path(@restaurant.id, image.id) do %>
      <%= attachment_image_tag image, :img, :fill, 100, 100 %>
    <% end %>
  <% end %>
</div>

<div>
  <strong>画像</strong>
  <%= form_with model: @image, url: owner_restaurant_images_path, local:true do |f| %>
    <%= f.attachment_field :img %>
    <%= f.submit '投稿' %>
  <% end %>
</div>