<h1>お気に入り一覧</h1>

<div class="container">
  <% @favorites.each do |favorite|%>
    <div class="card border shadow">
    
      <div class="slider slider">
    　  <% favorite.restaurant.images.each do |image| %>
    　    <div>
    　     <%= attachment_image_tag image, :img, class:"slick-image1" %>
    　    </div>
    　  <% end %>
    　</div>
    　
    　<%= link_to restaurant_path(favorite.restaurant.id) do %>
    　  
      　<div class="card__contents">
      　  <strong>店名</strong>
      　 <%= link_to favorite.restaurant.name, restaurant_path(favorite.restaurant.id) %>
        </div>
      
      　<div class="card__contents">  
      　 <strong>価格帯</strong>
      　  <%= favorite.restaurant.price_range %>円
      　</div>
      　
      　<div class="card__contents"> 
      　 <strong>定休日</strong>
      　  <%= favorite.restaurant.regular_holiday%>
      　</div>
      　
      　<div class="card__contents">  
      　 <strong>住所</strong></br>
      　  <%= favorite.restaurant.address %>
      　</div>
      
      <% end %>
    </div>
  <% end %>
</div>