<header>
  
    <div class="logo">
        通い飯
    </div>
    
    <div class="nav">
      
        <ul class="nav__list">
        <% if user_signed_in? %>
            
         <li class="nav__list--item">
            <%= link_to "お気に入り", restaurant_favorites_path(current_user), class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "検索", restaurants_path, class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav__list--item-link" %>
         </li>
        
        <% elsif restaurant_signed_in? %>
        
         <li class="nav__list--item">
           <%= link_to "マイページ", owner_restaurant_path(current_restaurant), class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "レビュー", owner_restaurant_reviews_path(current_restaurant), class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "画像", owner_restaurant_images_path(current_restaurant), class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "スタッフ",  owner_restaurant_staffs_path(current_restaurant), class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete, class:"nav__list--item-link" %>
         </li>
         
        <% else %>
        
         <li class="nav__list--item">
           <%= link_to "食事処", restaurants_path, class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "新規登録", new_user_registration_path, class:"nav__list--item-link" %>
         </li>
         
         <li class="nav__list--item">
           <%= link_to "ログイン", new_user_session_path, class:"nav__list--item-link" %>
         </li>
        
        <% end %>
        </ul>
        
    </div>
    
</header>
